@use 'variables';

.top-header {
    background-color: variables.$mainDark;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;

    a {
        max-width: 10%;

        .img-logo {
            width: 70%;
        }
    }

    .box-search {
        background-color: variables.$subGreen;
        border: 2px solid variables.$mainDark;
        display: flex;
        align-items: center;
        width: 25%;
        box-shadow: 3px 3px 3px variables.$mainGreen;
        margin-bottom: 10px;

        i {
            margin-left: 10px;
        }
        
        input {
            background-color: variables.$subGreen;
            border: none;
            font-family: variables.$fontStaat;
            font-size: 30px;
            text-indent: 20px;
            outline: none;

            &:focus {
                outline: none;
            }
        }
    }

    .iconos-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;

        button {
            background-color: transparent;
            border: none;
            color: variables.$mainLight;
            font-family: variables.$fontTeko;
            font-size: 1.7em;
            padding: 20px;
        }
        
        .iconos-header-simbolos {
            transition: .5s, color .10s;
            
            &:hover {
                transform: scale3d(1.5, 1.5, 0.3);
                color: variables.$mainGreen;
            }
        }

        .iconos-header-texto {
            color: variables.$mainGreen;
            display: inline-block;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 90%;
                transform: scaleX(0);
                height: 3px;
                bottom: 10px;
                left: 8px;
                background-color: variables.$subGreen;
                transform-origin: center;
                transition: transform 0.25s ease-out;
            }

            &:hover::after {
                transform: scaleX(1);
                transform-origin: center;
            }
        }
    }
}

.bottom-header {
    background-color: variables.$subGreen;

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: variables.$fontBebas;

        a {
            color: variables.$mainDark;
            font-size: 1.5em;
            text-decoration: none;
        }

        ul {
            li {
                visibility: hidden;
            }
        }
    }
}