@use 'variables';

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    .top-header {
        background-color: variables.$mainDark;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
    
        a {
            max-width: 10%;
    
            .img-logo {
                width: 70%;
            }
        }
    
        .buscar-container {
            background-color: variables.$subGreen;
            border: 2px solid variables.$mainDark;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-height: 44px;
            width: 23%;
            box-shadow: 3px 3px 3px variables.$mainGreen;
    
            .buscar-box {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
        
                .buscar-texto {
                    background-color: variables.$subGreen;
                    border: none;
                    font-family: variables.$fontStaat;
                    font-size: 30px;
                    outline: none;
        
                    &:focus {
                        outline: none;
                    }
                }
            }
    
            .result-box {
                border-top: 2px solid variables.$mainDark;
    
                .result-box-inner {
                    .result-boton {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        background-color: variables.$subGreen;
                        border: none;
                        padding-left: 5px;
                        padding-top: 5px;
                        padding-bottom: 5px;
    
                        .result-img {
                            width: 20%;
                            border: 2px solid variables.$mainDark;
                        }
        
                        .result-titulo {
                            color: variables.$mainDark;
                            font-family: variables.$fontVT;
                            font-size: 1.2em;
                            padding-left: 10px;
                        }
        
                        &:hover {
                            background-color: variables.$subDark;
        
                            .result-titulo {
                                color: variables.$mainLight;
                            }
                        }
    
                        &:active {
                            transform: translate(0.5px, 0.5px);
                        }
                    }
                }
            }
        }

        .header-log-reg {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 30px;
            
            .iconos-header-texto {
                background-color: transparent;
                color: variables.$mainGreen;
                font-family: variables.$fontTeko;
                font-size: 1.7em;
                padding: 20px;
                border: none;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
    
                &::after {
                    content: '';
                    position: absolute;
                    width: 90%;
                    transform: scaleX(0);
                    height: 3px;
                    bottom: 10px;
                    left: 8px;
                    background-color: variables.$subGreen;
                    transform-origin: center;
                    transition: transform 0.25s ease-out;
                }
    
                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: center;
                }
            }
        }
    
        .header-iconos {
            max-width: 35%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .favoritos-container {
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .icono-favorito {
                    background-color: transparent;
                    border: none;
                    color: variables.$mainLight;
                    font-size: 2em;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    outline: none;
                    width: 50px;
                    height: 50px;
                    transition: .5s, color .10s;
                    
                    &:hover {
                        cursor: pointer;
                        transform: scale3d(1.3, 1.3, 0.3);
                    }
    
                    &:active {
                        color: variables.$mainRed;
                    }
    
                    .cantidad-carrito {
                        background-color: variables.$mainGold;
                        color: variables.$subDark;
                        border-radius: 50%;
                        position: absolute;
                        top: -10px;
                        right: -10px;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: variables.$fontStaat;
                        font-size: 0.8em;
                    }
                }
            }

            .carrito-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 85%;

                .icono-carrito {
                    background-color: transparent;
                    border: none;
                    color: variables.$mainLight;
                    font-size: 1.7em;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    outline: none;
                    width: 50px;
                    height: 50px;
                    transition: .5s, color .10s;
                    
                    &:hover {
                        cursor: pointer;
                    }
    
                    &:active {
                        color: variables.$subGreen;
                    }
    
                    .cantidad-carrito {
                        background-color: variables.$mainGold;
                        color: variables.$subDark;
                        border-radius: 50%;
                        position: absolute;
                        top: -10px;
                        right: -10px;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: variables.$fontStaat;
                        font-size: 0.7em;
                    }
                }

                .despliegue-carrito {
                    .despliegue-carrito-inner {
                        background-color: variables.$mainLight;
                        border: 3px solid variables.$subDark;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 5px;
                        position: relative;
                        margin-top: 10px;
                        float: left;
                        gap: 10px;

                        &::after {
                            content: "";
                            position: absolute;
                            right: 157px;
                            top: -15px;
                            border-top: none;
                            border-right: 15px solid transparent;
                            border-left: 15px solid transparent;
                            border-bottom: 15px solid variables.$mainLight;
                        }

                        .carrito-img {
                            width: 20%;
                            border: 2px solid variables.$subDark;
                        }

                        .carrito-titulo {
                            color: variables.$mainDark;
                            font-family: variables.$fontBebas;
                            font-size: 1em;
                        }

                        .carrito-precio {
                            color: variables.$mainRed;
                            font-family: variables.$fontTeko;
                            font-size: 1.2em;
                        }
                    }
                }
            }
        }
    }
    
    .bottom-header {
        background-color: variables.$subDark;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
    }
}