@use 'variables';

.juegos-mas-vendidos {
    background-color: variables.$subGreen;

    .carousel-box {
        display: flex;
        flex-direction: column;
        align-content: space-evenly;
        justify-items: center;

        h1 {
            color: variables.$mainDark;
            font-family: variables.$font2P;
            font-size: 2.75em;
            font-style: italic;
            margin-top: 20px;
            margin-bottom: 5px;
            text-align: center;
            text-shadow: 3px 3px 3px variables.$subDark;
        }

        .carousel-container {
            max-width: 1000px;
            position: relative;
            margin: auto;

            .slide {
                display: none;
                animation-name: fade;
                animation-duration: 1.5s;
                padding-top: 10px;

                span {
                    position: absolute;
                    overflow: hidden;
                    width: 500px;
                    height: 1100px;
                    top: -10px;
                    left: -10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 150%;
                        height: 60px;
                        background-image: linear-gradient(45deg, variables.$mainGreen 0%, variables.$mainGold 100%);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: variables.$mainDark;
                        font-family: variables.$fontStaat;
                        font-size: 2em;
                        font-style: italic;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        width: 494px;
                        height: 58px;
                        border: 3px solid variables.$subDark;
                        bottom: 519px;
                        left: 0;
                        z-index: 1;
                    }
                }

                .slider-fifa {
                    &::before {
                        content: 'EA SPORTS™ FIFA 23';
                    }
                }

                .slider-crusader {
                    &::before {
                        content: 'Crusader Kings III';
                    }
                }

                .slider-cod {
                    &::before {
                        font-size: 1.75em;
                        content: 'Call of Duty® - Modern Warfare® 2';
                    }
                }

                .slider-sw {
                    &::before {
                        content: 'STAR WARS Jedi: Survivor™';
                    }
                }

                .slider-hogwarts {
                    &::before {
                        content: 'Hogwarts Legacy';
                    }
                }

                img {
                    border: 3px solid variables.$subDark;
                    border-radius: 8px;
                }

                button {
                    position: absolute;
                    bottom: 50px;
                    right: 100px;
                    width: 180px;
                    height: 55px;
                    background-color: variables.$mainRed;
                    border: none;
                    border-radius: 50px;
                    color: variables.$mainLight;
                    font-family: variables.$fontStaat;
                    font-size: 1.25em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    cursor: pointer;
                    box-shadow: 1px 3px 0px variables.$mainGold;
                    transition-duration: .3s;

                    &:active {
                        transform: translate(2px ,0px);
                        box-shadow: 0px 1px 0px variables.$mainGreen;
                        padding-bottom: 1px;
                    }
                }
            }

            @keyframes fade {
                from {opacity: .4}
                to {opacity: 1}
            }
        }

        .control-container {
            margin-bottom: 10px;
            text-align: center;

            .control-carousel {
                display: inline-block;
                position: relative;
                margin: auto 5px;
                border-radius: 2px;
                width: 41px;
                height: 4px;
                cursor: pointer;
                background-color: variables.$mainDark;
                transition: background-color 0.6s ease;

                &:hover {
                    background-color: variables.$mainGold;
                }
            }

            .active {
                border: 1px solid variables.$subDark;
                height: 5px;
                background-color: variables.$mainRed;
            }
        }
    }
}

.catalogo-juegos {
    background-color: variables.$mainDark;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;

    .juegos-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        width: 80%;

        .juego {
            background-color: variables.$subDark;
            border: 2px solid variables.$mainLight;
            border-radius: 5px;
            width: 300px;
            height: 500px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-content: space-between;
            margin-left: 30px;
            margin-bottom: 20px;
            padding: 10px;
            position: relative;
            text-align: center;
    
            &:hover {
                box-shadow: 0 2px 30px 0 variables.$mainGreen, 0 2px 30px 0 variables.$subGreen;
                transform: scale3d(1.1, 1.1, 0.3);
            }

            img {
                width: 100%;
                height: 150px;
                object-fit: cover;
                border-radius: 5px;
                border: 2px solid variables.$mainDark;
            }

            .info-juego {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 150px 50px 150px;
                justify-items: center;
                align-items: center;
                grid-template-areas: 
                    "titulo titulo"
                    "precio precio"
                    "fav    cart";

                h2 {
                    grid-area: titulo;
                    color: variables.$mainLight;
                    font-family: variables.$fontBebas;
                    font-size: 2.5em;
                    margin-top: 10px;
                }

                p {
                    grid-area: precio;
                    text-align: center;
                    color: variables.$mainGold;
                    font-family: variables.$font2P;
                    font-size: 1.5em;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    text-shadow: 2px 2px 2px variables.$mainDark;
                }

                .boton-favoritos {
                    grid-area: fav;
                    background-color: variables.$mainRed;
                    border: 2px solid variables.$subGreen;
                    border-radius: 5px;
                    color: variables.$mainLight;
                    cursor: pointer;
                    font-size: 20px;
                    text-align: center;
                    padding: 10px 20px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    transition: .5s, color .10s;
                    width: 60%;

                    &:active {
                        transform: translate(-2px, 0px);
                        box-shadow: 0px 1px 0px variables.$mainLight;
                    }
                }

                .boton-compra {
                    grid-area: cart;
                    background-color: variables.$mainBlue;
                    border: 2px solid variables.$subGreen;
                    border-radius: 5px;
                    color: variables.$mainLight;
                    cursor: pointer;
                    font-size: 20px;
                    text-align: center;
                    padding: 10px 20px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    transition: .5s, color .10s;
                    width: 60%;

                    &:active {
                        transform: translate(2px, 0px);
                        box-shadow: 0px 1px 0px variables.$mainGreen;
                    }
                }
            }
        }
    }

    .filtros {
        margin-left: 30px;
        width: 25%;

        .filtros-juegos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                font-family: variables.$fontBlack;
                font-size: 1.7em;
                color: variables.$mainGold;
                margin-top: 30px;
                margin-bottom: 5px;
            }

            .filtro-box {
                margin: 5px;
                display: flex;
        
                .filtro-input {
                    display: none;
        
                    &:checked + .filtro-label .boton-filtro {
                        background-color: variables.$mainRed;
                        color: variables.$mainLight;
                        box-shadow: rgba(0,0,0,0.23) 0px -4px 1px 0px inset, rgba(255,255,255,0.17) 0px -1px 1px 0px, rgba(0,0,0,0.17) 0px 2px 4px 1px;
                    }
        
                    &:checked + .filtro-label .boton-filtro .boton-filtro-inner {
                        transform: translateY(-2px);
                    }
        
                    &:checked + .filtro-label .boton-filtro:hover {
                        background-color: variables.$mainRed;
                        box-shadow: rgba(0,0,0,0.26) 0px -4px 1px 0px inset, rgba(255,255,255,0.17) 0px -1px 1px 0px, rgba(0,0,0,0.15) 0px 3px 6px 2px;
                    }
                }
        
                .filtro-label {
                    .boton-filtro {
                        width: fit-content;
                        position: relative;
                        overflow: hidden;
                        cursor: pointer;
                        user-select: none;
                        padding: 2px 8px;
                        background-color: variables.$mainGreen;
                        border-radius: 0px;
                        color: variables.$mainDark;
                        transition-timing-function: cubic-bezier(0.25,0.8,0.25,1);
                        transition-duration: 300ms;
                        transition-property: color, background-color, box-shadow;
                        display: flex;
                        height: 50px;
                        align-items: center;
                        box-shadow: rgba(0,0,0,0.15) 0px 2px 1px 0px inset, rgba(255,255,255,0.17) 0px 1px 1px 0px;
                        outline: none;
                        justify-content: center;
                        min-width: 70px;
        
                        &:hover {
                            background-color: variables.$mainRed;
                            color: variables.$mainLight;
                            box-shadow: rgba(0,0,0,0.23) 0px -4px 1px 0px inset, rgba(255,255,255,0.17) 0px -1px 1px 0px, rgba(0,0,0,0.17) 0px 2px 4px 1px;
        
                            .boton-filtro-inner {
                                transform: translateY(-2px);
                            }
                        }
        
                        .boton-filtro-inner {
                            font-family: variables.$fontVT;
                            font-size: 1.7em;
                            pointer-events: none;
                            transition-timing-function: cubic-bezier(0.25,0.8,0.25,1);
                            transition-duration: 300ms;
                            transition-property: transform;
                            transform: translateY(0px);
                            text-transform: uppercase;
                        }
                    }

                    .ver-todos {
                        background-color: variables.$mainBlue;
                        color: variables.$mainLight;
                        height: 60px;
                        min-width: 410px;

                        &:hover {
                            background-color: variables.$subDark;
                            color: variables.$mainLight;
                        }

                        .ver-todos-inner {
                            font-family: variables.$fontSquada;
                            font-size: 2.8em;
                        }
                    }
                }
            }
        }
    }
}