// FUENTES

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital@1&family=Oswald&family=Staatliches&family=Teko:wght@500&display=swap');

$fontBebas: 'Bebas Neue', cursive;

$fontKanit: 'Kanit', sans-serif;

$fontOswald: 'Oswald', sans-serif;

$fontStaat: 'Staatliches', cursive;

$fontTeko: 'Teko', sans-serif;


// PALETA DE COLORES

$mainGreen: #51E5A1;

$subGreen: #17E7B7;

$mainLight: #A1E5F5;

$mainDark: #0A261F;